<%= yield %>
<hr/>

<p>
      <b> Sistem Bilgileri:</b><br/>
      <br/>
       <b>Sks Web Sitesi: </b> http://193.140.28.39/events
       <br/>
       <b>Kullanıcı Adı: </b> 11 Haneli Tc Kimlik Numaranız
       <br/>
       <b>Şifreniz: </b> Sisteme ilk defa girecekseniz Tc kimlik Numaranız
     </p>
     <br/>
<p>
  Sağlık Kültür Daire Başkanlığı  <%= Time.now.year %>
</p>
